html {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9), black), url("../content/misc/background.jpg");
  background-position: 0 66px;
}

body.container {
  background: none;
  color: #ccc;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.navbar-default {
  background: black;
}

@media (max-width: 639px) {
  .navbar:after {
    content: "Your screen or window is too small for this game.       (><)      Try expanding it or playing on a different device (or rotate to landscape - that may work).";
    margin-top: 10em;
    text-align: center;
  }
  .navbar-nav:nth-child(2) {
    display: none;
  }
  #nav-arrows,
  #content { display: none; }
}

@media (max-height: 359px) {
  .navbar:after {
    content: "Your screen or window is too small for this game.       (><)      Try expanding it or playing on a different device.";
    margin-top: 10em;
    text-align: center;
  }
  .navbar-nav:nth-child(2) {
    display: none;
  }
  #nav-arrows, #content { display: none; }
}

@media (max-width: 640px) {
  body.container {
    padding: 0;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.navbar {
  border: none;
  margin: 0;
}
.navbar-nav {
  float: left;
  margin: 7.5px 0;
}
.navbar-right {
  float: right;
}

.nav a {
  cursor: pointer;
}

.nav > li {
  float: left;
}
.navbar-header {
  float: left;
}

.navbar-brand {
  height: 65px;
  padding: 10px 0 15px;
}

@media (max-width: 768px) {
  .navbar {
    min-height: 20px;
  }
  .navbar-brand {
    height: 25px;
    padding: 0 15px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
  }
  text {
    padding: 5px;
  }
  .shorten {
    display: none;
  }
}

#content {
  background: #000;
  position: relative;
  overflow: hidden;
}

page {
  background-position: 50% 50%;
  background-size: 100% auto;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition-delay: 0.5s;
  width: 100%;
}
.backscroll page {
/*   transition-duration: 0 !important; */
}

page.slowFadeIn.active, page.slowFadeOut {
  transition: opacity 1.5s ease;
}

page.verySlowFadeIn.active, page.verySlowFadeOut {
  transition: opacity 5s ease;
}

page.active {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

text {
  background-color: #151515;
  border: 1px solid #030303;
  border-radius: 6px 6px 0 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0;
  min-height: 33%;
  opacity: 0.85;
  padding: 19px;
  position: absolute;
  width: 100%;
}

#content img,
#content canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}


.person {
  bottom: 33%;
  left: 50%;
  height: 50%;
  position: absolute;
}

#content .person img.transparent,
#content .person canvas.transparent {
  opacity: 0;
}
#content .person img,
#content .person canvas {
  height: 100%;
  margin-left: -50%;
  opacity: 1;
  transition: opacity 0.5s ease 0.2s;
  position: relative;
}
.person.sm {
  height: 33%;
}

.person.left {left: 25%; }
.person.mid-left {left: 40%; }
.person.mid-right { left: 60%; }
.person.right { left: 75%; }
.person.reversed img,
.person.reversed canvas {
  transform: scaleX(-1);
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  text {
    min-height: 40%;
  }
  .person {
    bottom: 40%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  text {
    min-height: 50%;
  }
  .person {
    bottom: 50%;
  }
}


text.full {
  border: none;
  border-radius: 0;
  height: 100%;
}
text.short {
  height: auto;
  min-height: 0;
}


img + text,
canvas + text {
  background-color: #15151566;
}

#nav-arrows {
  position: absolute;
  right: -1em;
  z-index: 10;
}

@media (max-width: 820px) {
  #nav-arrows {
    right: 0.5em;
  }
}

#nav-arrows .glyphicon {
  cursor: pointer;
  display: block;
  padding: 10px 5px;
}

#nav-arrows .glyphicon.disabled,
#nav-arrows .glyphicon.disabled:hover {
  color: #666;
  cursor: default;
}

#nav-arrows .glyphicon:hover {
  color: #fff;
}

#next {
  left: 0.083em;
}

blockquote {
  border-left: 4px solid #282828;
  font-size: 1em;
  margin: 0 0 10px;
  padding: 0px 10px;
}

#content .full-background {
  left: -20%;
  max-height: none;
  max-width: 240%;
  opacity: 0.3;
  position: absolute;
  top: -20%;
}

.full-background + text {
  background: none;
  opacity: 1;
}

button:active,
button:focus, a:active,
a:focus {
  outline: none !important;
}

.toggle input {
  display: none;
}

input.inline,
button.inline {
  background-color: #222;
  border: 1px solid #666;
  border-radius: 6px;
  color: #fff;
  padding: 2px 7px;
}

input.inline:disabled {
  color: #aaa;
}

.dropdown-toggle.inline.active {
  background: #222;
  border-color: #666;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  padding-top: 3px;
  position: relative;
  z-index: 1001;
}

.dropdown-menu.inline {
  border: 1px solid #666666;
  border-bottom-left-radius: 0;
  min-width: 110px;
  padding: 0;
}
.dropdown-toggle.inline.active + .dropdown-menu {
  display: block;
}

.dropdown-menu.inline span {
  display: block;
}
.dropdown-menu.inline label {
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 300;
  padding-left: 7px;
  width: 100%;
}
.dropdown-menu.inline input:checked + label {
  background: #666;
  color: #fff;
  cursor: default;
}

.dropdown-menu.inline input {
  display: none;
}

.toggle {
  background-color: #222;
  border: 1px solid #666;
  border-radius: 6px;
  color: #fff;
  padding: 0;
}
.toggle label {
  border-left: 1px solid #666;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  font-weight: 300;
  margin: 0;
  padding: 2px 7px;
}

.toggle label:nth-child(2) {
  border: none;
  border-radius: 6px 0 0 6px;
}

.toggle input:checked + label {
  background: #2A9FD6;
  cursor: default;
}

.toggle input:disabled + label {
  color: #aaa;
  cursor: default;
}

.bigOptions {
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

.bigOptions > div {
  display: inline-block;
  float: none;
  min-width: 200px;
  white-space: normal;
}

.bigOptions input {
  display: none;
}

.bigOptions label {
  background-color: #222;
  border: 1px solid #222;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 1em;
}

.bigOptions input:checked + label {
  background: #333;
  border-color: #666;
}

.center-block {
  position: relative;
}

#save-game .glyphicon {
  position: absolute;
  opacity: 0;
  right: -2px;
  top: 15px;
}

.port > button {
  clear: both;
}

.crew, .hires, .jobs {
  background: #000;
  border: 1px solid #666666;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 73px;
}

.job-tabs {
  margin: 10px -31px 0 30px;
  position: relative;
  z-index: 1;
}
.job-tabs li {
  background: #000;
  border-bottom-right-radius: 0 !important;
  border: 1px solid #666;
  border-top-right-radius: 0 !important;
}

.job-tabs li:hover {
  background: #222;
}

.job-tabs li.active {
  border-right: none;
  color: #FFF;
  font-weight: 700;
}

.jobs {
  border-top-left-radius: 0;
}

.job {
  display: none;
}
.job.active {
  display: block;
}

.job.ready,
.job.ready .block-label,
.job.ready:hover,
.job.ready:hover .block-label {
  border-color: #2a9fd6;
}

.job > div:first-child {
  padding-left: 0;
}

.block-label {
  border-bottom: 1px solid #666;
  padding: 5px 8px;
}

.job-workers {
  margin: 0;
  list-style: none;
}

.job-description {
  font-size: 0.9em;
  margin: 10px 0 10px 10px;
}

.worker-requirements .name {
  color: #666;
}

.person-info, .worker-requirements {
  background: #000;
  border: 1px solid #666;
  border-radius: 6px;
  height: 55px;
}

.worker-requirements {
  opacity: 0.75;
}
.worker-requirements:hover,
.worker-requirements:hover .name {
  border-color: #aaa;
}
.person-info:hover,
.person-info:hover .name,
.job:hover,
.job:hover .block-label,
.crew:hover {
  border-color: #777;
}

.job-workers li {
  margin: 8px 0;
}

.person-info.active, .person-info.active .name {
  background-color: #040f14;
  border-color: #2a9fd6;
}

.name {
  border-bottom: 1px solid #666666;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #666666;
  float: left;
  padding: 2px 16px;
}

.level {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: -3px;
  text-align: center;
}

.stats span,
.worker-requirements span {
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  width: 25%;
}

.screen {
  background-position: center;
  background-repeat: none;
  background-size: 100%;
  height: 100%;
}
.screen form {
  cursor: default;
}
.screen button {
  clear: both;
  font-weight: 700;
}

.person-info + .worker-requirements {
  display: none;
}

.person-info {
  cursor: pointer;
  position: relative;
}

.crew .person-info, .hires .person-info {
  float: left;
  margin: 8px 15px;
  width: calc(50% - 30px);
}

.stats .happiness,
.stats .endurance,
.stats .fatigue,
.stats .money {
  display: none;
}

.center {
  text-align: center;
}

.job-requirements span {
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  text-decoration: line-through;
  width: 25%;
}

.business { color: #ff8500; }
.diplomacy { color: #ffb600; }
.stealth { color: #ff2c00; }
.combat { color: #a65600; }
.level { color: #fff; }
.job-requirements .unmet {
  font-weight: 700;
  text-decoration: none;
}


.person-info .full {
  clip: rect(-40px, 450px, -40px, 0);
  background: #000;
  border: 1px solid #666;
  border-radius: 0 6px 6px 6px;
  cursor: default;
  left: -1px;
  padding: 0 15px 15px;
  position: absolute;
  transition: clip 0.5s ease 0s;
  top: 40px;
  width: 250%;
  z-index: 1;
}

.person-info:hover .full {
  border-color: #777;
  clip: rect(-40px, 450px, 450px, 0);
  transition: clip 0.5s ease 0.75s;
}

.person-info.active .full, .person-info.active:hover .full {
  border-color: #2a9fd6;
  background-color: #040f14;
}
.person-info.active .full .name, .person-info.active:hover .full .name {
  background: #040F14;
}

.full > .name {
  background: #000;
  border: medium none;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  font-size: 1.5em;
  height: 55px;
  left: 0;
  line-height: 40px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: -40px;
  width: calc(40% + 1px);
}


.full .stats {
  clear: left;
  margin-bottom: 5px;
}

.full .stats, .full .level {
  float: left;
  margin-right: 15px;
}

.full .level:before, .full .stats span:before {
  float: left;
}

.full .level, .full .stats span {
  display: block;
  padding: 0;
  text-align: right;
  width: 7em;
}

.full .level {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 15px;
}

.money span:after,
.wages span:after {
  content: "Î²";
  font-size: 0.8em;
}

.full .level:before { content: "Level"; }
.full .happiness:before { content: "Happiness"; }
.full .business:before { content: "Business"; }
.full .diplomacy:before { content: "Diplomacy"; }
.full .stealth:before { content: "Stealth"; }
.full .combat:before { content: "Combat"; }
.full .fatigue:before { content: "Fatigue"; }
.full .money:before { content: "Wage"; }

.full .stats .endurance {
  float: right;
  width: auto;
}

.full .stats .endurance:before {
  content: "/";
  float: none;
}

.full .person {
  height: 12em;
  position: static;
  width: 100%;
}

#content .full .person img,
#content .full .person canvas {
  margin: auto;
}

.full .description {
  color: #CCC;
  margin-top: 10px;
}

.person-info .full.right {
  border-radius: 6px 0 6px 6px;
  left: calc(-150% + 1px);
}

.full.right .name {
  left: auto;
  right: 0;
}

.full.right .level, .full.right .stats {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}

.full.right .stats { clear: right; }

.trait {
  border: 1px solid #666;
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
}

.trait .name {
  border: none;
  margin: 0px;
}

.trait .description {
  font-size: 0.8em;
  margin-top: 0;
}

#status {
  position: absolute;
}

#game-info {
  clip: rect(0, 22em, 0, 0);
  background: #000;
  border: 1px solid #666;
  border-radius: 0 0 6px;
  border-width: 0 1px 1px 0;
  cursor: default;
  padding: 10px 5px 10px 15px;
  position: absolute;
  transition: clip 0.5s ease 0s;
  top: 65px;
  width: 22em;
  z-index: 1001;
}

.navbar-brand:hover + #game-info,
#game-info:hover {
  border-color: #777;
  clip: rect(0, 22em, 20em, 0);
  transition: clip 0.5s ease 0.75s;
}

#game-info img {
  width: 12em;
}

.full .location:before { content: "Location"; }
.full .day:before { content: "Day"; }
.full .crew-count:before { content: "Crew"; }
#game-info .money:before { content: "Savings"; }
#game-info .wages:before { content: "Wages"; }

.intro-main { display: none; }
#game-info .intro-help { display: none; }
#game-info .intro-main { display: block; }
